.ma{
    background-color:rgb(233, 233, 233)
}
.mails{
    border: 2px solid rgb(148, 148, 148);
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}
.rec{
    margin-left: 160px;
    margin-top: -45px;
}
.a{
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0.2px;
    margin-right: 0px;
    margin-top: -10px;
    margin-left: 100px;
    background-color: white;
    border: 1px solid white;
}
.b{
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: -5px;
}
.rec2{
    border: 1px solid black;
    padding-bottom: 0.5px;
    padding-top: 9px;
    background-color: orange;
    margin-bottom: -15px;
    margin-left: -5px;
}
.loupe{
    margin-bottom: -1px;
    margin-left: 3px;
    margin-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(50px, auto);
}
.case1{
    grid-column: 1;
    grid-row: 1;
    margin-left: 80px;
    border: 1px solid white;
    background-color: white;
    margin-right: 260px;
    padding-left: 10px;
    padding-right: 10px;
}
.case2{
    grid-column: 2;
    grid-row: 1;
    margin-left: -100px;
    border: 1px solid white;
    background-color: white;
    padding-left: 10px;
    margin-right: 325px;
    padding-right: 10px;
}
.case3{
    grid-column: 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(1px, auto);
    margin-left: -180px;
    border: 1px solid white;
    background-color: white;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;
}
.s3456{
    margin-left: 0px;
}
.case31{
    grid-column: 1;
    grid-row: 2;
    margin-top: -12px;
    margin-left: 5px;
}
.case32{
    grid-column: 2;
    grid-row: 2;
    margin-top: -12px;
    margin-left: 20px;
}
.case33{
    grid-column: 1;
    grid-row: 3;
    margin-top: -22px;
    margin-left: 5px;
}
.case34{
    grid-column: 2;
    grid-row: 3;
    margin-top: -22px;
    margin-left: 20px;
}
.sbc1{
    grid-column: 1;
    grid-row: 1;
}
.sbc2{
    grid-column: 2;
    grid-row: 1;
    margin-left: -78px;
}
.esp1{
    grid-column: 1;
    grid-row: 2;
}
.case4{
    grid-column: 1;
    grid-row: 3;
    margin-left: 80px;
    border: 1px solid white;
    background-color: white;
    margin-right: 260px;
    padding-left: 10px;
    padding-right: 10px;
}
.case5{
    grid-column: 2;
    grid-row: 3;
    margin-left: -100px;
    border: 1px solid white;
    background-color: white;
    padding-left: 10px;
    margin-right: 325px;
    padding-right: 10px;
}
.case6{
    grid-column: 3;
    grid-row: 3;
    margin-left: -180px;
    border: 1px solid white;
    background-color: white;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;

}
.sign2{
    margin-bottom: -12px;
    padding-bottom: -10px;
}
.sign{
    padding-left: 58px;
    padding-right: 47px;
    margin-left: -12px;
    background-color: yellow;
    border: yellow;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}
.esp2{
    grid-column: 1;
    grid-row: 4;
}
.case7{
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(10px, auto);
    margin-left: 80px;
    border: 1px solid white;
    background-color: white;
    margin-right: 260px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -80px;
}
.s10111213{
    margin-left: 0px;
}
.case71{
    grid-column: 1;
    grid-row: 2;
}
.case72{
    grid-column: 2;
    grid-row: 2;
}
.case73{
    grid-column: 1;
    grid-row: 3;
}
.case74{
    grid-column: 2;
    grid-row: 3;
}
.sbc3{
    grid-column: 1;
    grid-row: 1;
}
.sbc4{
    grid-column: 2;
    grid-row: 1;
    margin-left: -78px;
}
.case8{
    grid-column: 2;
    grid-row: 5;
    margin-left: -100px;
    border: 1px solid white;
    background-color: white;
    padding-left: 10px;
    margin-right: 325px;
    padding-right: 10px;
}
.case9{
    grid-column: 3;
    grid-row: 5;
    margin-left: -180px;
    border: 1px solid white;
    background-color: white;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;   
}
.esp3{
    grid-column: 1;
    grid-row: 6;
}
.case10{
    grid-column: 1;
    grid-row: 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(10px, auto);
    margin-left: 80px;
    border: 1px solid white;
    background-color: white;
    margin-right: 260px;
    padding-left: 10px;
    padding-right: 10px;
}
.s16171819{
    margin-left: 0px;
}
.case101{
    grid-column: 1;
    grid-row: 2;
    margin-top: -5px;
}
.case102{
    grid-column: 2;
    grid-row: 2;
    margin-top: -5px;
}
.case103{
    grid-column: 1;
    grid-row: 3;
    margin-top: -18px;
}
.case104{
    grid-column: 2;
    grid-row: 3;
    margin-top: -18px;
}
.sbc5{
    grid-column: 1;
    grid-row: 1;
}
.sbc6{
    grid-column: 2;
    grid-row: 1;
    margin-left: -46px;
}
.case11{
    grid-column: 2;
    grid-row: 7;
    margin-left: -100px;
    border: 1px solid white;
    background-color: white;
    padding-left: 10px;
    margin-right: 325px;
    padding-right: 10px;
}
.case12{
    grid-column: 3;
    grid-row: 7;
    margin-left: -180px;
    border: 1px solid white;
    background-color: white;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;
}
.signin{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: orange;
    border:  orange;
    border-style: outset;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.newc{
    text-decoration: none;
    color: green;
}
.s1,.s2,.s7,.s8,.s14,.s15,.s20,.s21,.s3456,.s10111213,.s16171819{
    text-decoration: none;
    color: green;
    padding-bottom: 20px;
}
.s1{
    padding-bottom: 10px;
}
.haut{
    border: 1px solid rgb(2, 5, 54);
    color: rgb(212, 212, 212);
    padding-top: 5px;
    background-color:rgb(2, 5, 54);
}
.dtb{
    margin-left: 100px;
    margin-top: -75px;
    color: rgb(212, 212, 212);
}
.achat{
    margin-left: 130px;
    margin-top: -50px;
}
.ama{
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.acl{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.acl2{
    margin-left: 850px;
    margin-top: -37px;
    color: rgb(212, 212, 212);
}
.acl3{
    margin-left: 1050px;
    margin-top: -56px;
    color: rgb(212, 212, 212);
}
.ord{
    color: rgb(212, 212, 212);
    text-decoration: none;
}
.haut2{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(18, 18, 109);
    background-color: rgb(18, 18, 109);
}
.lien{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.menu{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.lien1{
    margin-left: 5px;
    margin-top: -52px;
    color: rgb(212, 212, 212);
}
.lien2{
    margin-top: -52px;
    margin-left: 15px;
    color: rgb(212, 212, 212);
}
.lien3{
    margin-top: -52px;
    margin-left: 640px;
    color: rgb(212, 212, 212);
}
body{
    background-color: rgb(194, 194, 201);
}
.btt{
    border: 1px solid rgb(9, 9, 70);
    background-color: rgb(9, 9, 70);
}
.btt2{
    text-decoration: none;
    color: white;
}
.lienguk1{
    border: 1px solid rgb(2, 5, 54);
    margin-right: 1150px;
}
.lienguk2{
    border: 1px solid rgb(2, 5, 54);
    margin-right: 720px;
    margin-left: 320px;
    margin-top: -247px;
}
.lienguk3{
    border: 1px solid rgb(2, 5, 54);
    margin-right: 330px;
    margin-left: 730px;
    margin-top: -375px;
}
.lienguk4{
    border: 1px solid rgb(2, 5, 54);
    margin-right: 10px;
    margin-left: 1130px;
    margin-top: -248px;
}
.menubas{
    background-color: rgb(2, 5, 54);
    padding-top: 5px;
    padding-bottom: 20px;
}
.lienguk11,.lienguk22,.lienguk33,.lienguk44{
    color: white;
}
.liengukp{
    text-decoration: none;
    color: rgb(136, 136, 136);
}
.part1{
    margin-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.part2{
    margin-left: 50px;
    border: 1px solid rgb(136, 136, 136);
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.part3{
    margin-left: 20px;
    border: 1px solid rgb(136, 136, 136);
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.part4{
    margin-left: 20px;
    border: 1px solid rgb(136, 136, 136);
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.part2,.part3,.part4{
    background-color: rgb(2, 5, 54);;
}
.ligneopts{
    border: 1px solid rgb(2, 5, 54);
    background-color: rgb(2, 5, 54);
    display: flex;
    flex-direction: row;
}
.trait{
    border: 1px solid rgb(128, 128, 128);
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.tit{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(50px, auto);
    background-color: rgb(2, 2, 34);
    padding-left: 10px;
}
.ti{
    color: rgb(136, 136, 136);
}
.tita{
    margin-bottom: -1px;
    color: white;
}
.fin{
    background-color: rgb(2, 2, 34);
    color: white;
}
.finn{
    margin-right: 15px;
    color: white;
    text-decoration: none;
}
.finm{
    color: white;
    text-decoration: none;
}
